* {
	box-sizing: border-box;
}

body {
	background-color: #f3f3f4;
	margin: 0;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #676a6c;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	text-align: left;
}

input {
	border: 1px solid #e5e6e7;
	outline: none;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 1px;
	color: inherit;
	background-color: #FFFFFF;
	padding: 6px 12px;
	font-size: 14px;
}

.view-container {
	margin-left: 220px;
	padding: 20px;
}

nav > a{
	color: inherit;
	text-decoration: none;
}

.app-nav {
	width: 220px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #cfd2da;
	background-color: #2f4050;
}

.nav-item {
	display: list-item;
	font-weight: bold;
	font-size: 1.1em;
	padding: 14px 20px 14px 25px;
	/*border-left: 4px solid #19aa8d;*/
}

.nav-item-active {
	color: white;
	border-left: 4px solid #19aa8d;
	background-color: #293846;
}

.nav-item:hover {
	color: white;
	cursor: pointer;

}

.score {
	display: table;

}

.score-row {
	display: table-row;
}

.score-item {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

.score-label {
	font-size: 1.5em;
}

.score-card {
	border: 2px solid #e5e6e7;
	border-radius: 5px;
	padding: 5px;
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	cursor: pointer;
}

.score-card:hover {
	border-color: #19aa8d;
}

.score-card-active {
	color: white;
	background-color: #19aa8d;
}

.score-card > h2 {
	margin: 0;
}

.box {
	background: white;
}

.box-title {
	border-top: 3px solid #e7eaec;
	padding: 14px 15px 7px;
}

.box-title h3 {
	margin: 0 0 7px;
	display: inline-block;
	float: left;
}

.box-content {
	border-top: 1px solid #e7eaec;
	padding: 15px 20px 20px 20px;
}

.box-tools {
	text-align: right;
}

.box-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.table>thead:first-child>tr:first-child>th {
	border-top: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 8px;
	border-top: 1px solid #ddd;
}

.button {
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	color: inherit;
	background: white;
	border: 1px solid #e7eaec;
	outline: none;
}

.button:hover {
	border: 1px solid #d2d2d2;
}

.button:active {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.button-primary {
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFFFFF;
}

.button-primary:hover {
	background-color: #18a689;
	border-color: #18a689;
	color: #FFFFFF;
}

.dialog-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.dialog {
	width: 500px;
	position: relative;
	margin: 10em auto;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
}

.dialog-header {
	padding: 30px 15px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.dialog-header h2 {
	margin: 0;
}

.dialog-body {
	background: #f8fafb;
	padding: 20px 30px 30px 30px;
}

.dialog-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.dialog-footer .button+.button {
	margin-left: 5px;
}

.form {
	display: table;
	border-spacing: 10px;
	width: 100%;
}

.form .form-row {
	display: table-row;
}

.form .form-row .form-label {
	display: table-cell;
	text-align: right;
}

.form .form-row .form-input {
	display: table-cell;
	width: 100%;
}

.checkbox {
	cursor: pointer;
	line-height: 22px;
}

.checkbox > input[type=checkbox]{
	display: none;
}

.checkbox > input[type=checkbox] + span {
	position: relative;
	padding-left: 30px;
	font-size: 16px;
}

.checkbox > input[type=checkbox] + span::before {
	content: ' ';
	font-size: 22px;
	border: 2px solid #e7eaec;
	border-radius: 3px;
	display: inline-block;
	width: 1em;
	height: 1em;
	position: absolute;
	left: 0;
}

.checkbox:hover > input[type=checkbox] + span::before {
	border-color: #18a689;
}

.checkbox > input[type=checkbox]:checked + span::before {
	font-family: "FontAwesome";
	content: '\f00c';
	background: #18a689;
	border-color: #18a689;
	color: white;
}